/* styleCss */
/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* General */
body {
  font-family: 'Gothic A1', sans-serif;
  background-color: #262626;
}

.general_container {
  height:100%;
  width: 100%;
}

.clear::after {
  content: "";
  display: table;
  clear: both;
}

.container_flex {
  display: flex;
}

/* Header */
.head_bar {
  background-color: #000;
  height: 50px;
  padding: 0 25px;
}

/* logo */
.logo {
  line-height: 52px;
  display: inline-block;
}

.logo > span {
  text-transform: uppercase;
  color: #d81f26;
  font-size: 25px;
  letter-spacing: 2px;
  font-family: 'Bebas Neue', cursive;

}

/* search */
.search_area {
  line-height: 48px;
  float: right;
  display: inline-block;
}

.search_area > * {
  padding: 5px 10px;
}

/* Main */
.content_wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.error_wrapper {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
}

/* error list */
.error_list {
  list-style: none;
  text-align: center;
  color: #999999;
}

.error_message {
  padding: 10px;
}

.error_list .error_text {
  font-size: 15px;
}

.error_icon {
  font-size: 25px;
  font-weight: bold;
  padding-right: 10px;
}

.error_list .error_fixed_text {
  font-size: 18px;
  text-transform: uppercase;
}

.error_list h2 {
  display: inline-block;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

/* content list */
.content_list {
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.single_content {
  position: relative;
  flex-basis: calc(1/4*100% - (1 - 1/4)*10px);
  margin-bottom: 20px;
  border: 10px solid #000;
  background-color: #000;
  overflow: hidden;
}

/* mediaquery */
@media all and (max-width: 1400px) {
  .single_content {
    height: 385px;
  }
}

@media all and (max-width: 1200px) {
  .single_content {
    height: 412px;
  }
}

@media all and (max-width: 1100px) {
  .single_content {
    height: 335px;
  }
}

@media all and (max-width: 992px) {
  .single_content {
    flex-basis: calc(1/4*100% - (1 - 1/4)*10px);
    height: 320px;
  }

  .text_overview {
    display: none;
  }
}

@media all and (max-width: 900px) {
  .single_content {
    height: 295px;
  }
}

@media all and (max-width: 800px) {
  .single_content {
    height: 260px;
  }
}

@media all and (max-width: 768px) {
  .single_content {
    height: 245px;
  }
}

@media all and (max-width: 600px) {
  .single_content {
    flex-basis: calc(1/3*100% - (1 - 1/3)*10px);
    height: 260px;
  }
}

@media all and (max-width: 500px) {
  .single_content {
    height: 200px;
  }
}

@media all and (max-width: 400px) {
  .single_content {
    flex-basis: calc(1/2*100% - (1 - 1/2)*10px);
    height: 250px;
  }
}

/* Hover */
.single_content:hover .poster_image{
  opacity: 0;
}

.single_content:hover .content_info {
  display:block;
}

/* content info */
.content_info {
  list-style: none;
  padding: 10px;
  color: #fff;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  font-size: 12px;
  text-transform: uppercase;
}

.content_info > li {
  padding-top: 5px;
  border-bottom: 1px dotted #cccccc;
}

.content_info > li:last-child {
  border-bottom: 0px;
}

.info_title {
  font-size: 18px;
  text-transform: capitalize;
  display: inline-block;
  color: #a6a6a6;
}

.title h3 {
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
}

.flag_img_wrapper {
  display: inline-block;
  vertical-align: sub;
  width: 20px;
  height: 10px;
}

.vote_average_icons {
  display: inline-block;
  vertical-align: text-bottom;
  color: #404040;
}

.full_star {
  color: #e6b800;
}

.text_overview {
  text-transform: none;
}
